body {
  background-color: lightseagreen;
}

#buttons {
  display: block;
  margin: auto;
  width: 450px;
  margin-top: 20%;
  float: center;
  cursor: default;
  border: 3px solid transparent;
}

#description{
  display: block;
  margin: auto;
  width: 300px;
  height: 50px;
  margin-top: 50px;
  float: center;
  cursor: default;
  border: 3px solid transparent;
  text-align: center;
}

#tmp {
  font-size: 40px;
}

.button {
  width: 50px;
  height: 50px;
  padding: 5px;
  border-radius: 14px;
  cursor: default;
}

.a, .a:hover, .a:active, .a:focus {
  display: inline-block;
  outline: none;
}
